<!-- Quotes -->
<div class="row py-5">
{{ range .Params.quotes }}
  <div class="col-sm-4 quote">
    <blockquote class="blockquote">
      <p>{{ .text | markdownify }}</p>
      {{ $image := $.Page.Resources.GetMatch .photo }}
      {{ $resized := $image.Resize "100x" }}
      <img src="{{ $resized.RelPermalink }}" alt="{{ .name }}" class="img-thumbnail rounded-circle" width="100">
      <footer class="text-muted">
        <!-- <small>{{ .name }}, {{ .title }} {{ .company }}</small> -->
        <small>{{ .name }}</small>
      </footer>
    </blockquote>
  </div>
{{ end }}
</div>
