{{ define "main" }}
  <main role="main" class="container">

    <div class="starter-template">
      <h1>{{ .Title }}</h1>
      <p class="lead">
        A wonderfully simple API to reliably execute many long running scrapers in a super scaleable way.
        Built on top of Kubernetes and Docker.
      </p>
      <!-- TODO: Make this a button -->
      <a href="#get-started-in-the-documentation">Get Started</a>
    </div>

    <!-- Features -->
    <div class="row">
      {{ range .Params.features }}
        <div class="col">
          <!-- TODO: Add icon for each feature -->
          {{ .text }}
        </div>
      {{ end }}
    </div>
    <!-- TODO: Make this a button -->
    <a href="#get-started-in-the-documentation">Get Started</a>

    <div>
      {{.Content}}
    </div>

    <h3>What people are saying</h3>

    <!-- Quotes -->
    <div class="row py-4">
    {{ range .Params.quotes }}
      <div class="col">
        <blockquote class="blockquote">
          <p>{{ .text | markdownify }}</p>
          <img src="{{ .photo }}" alt="{{ .name }}" class="img-thumbnail rounded-circle" width="100">
          <footer class="text-muted">
            <small>{{ .name }}, {{ .title }} {{ .company }}</small>
          </footer>
        </blockquote>
      </div>
    {{ end }}
    </div>

    <h3>More social validation</h3>
    <p>
      Used in production to run scrapers more than xxxxx times
    </p>
  </main><!-- /.container -->
{{ end }}
