{{ define "main" }}
  <main role="main" class="container">

    <div class="starter-template">
      <h1>{{ .Title }}</h1>
      <p class="lead">
        {{ .Params.headline | markdownify }}
      </p>
      <a class="btn btn-primary" href="#get-started-in-the-documentation" role="button">Get Started</a>
    </div>

    {{ partial "features.html" .Params.features }}

    <div class="py-5">
      {{.Content}}
      <a class="btn btn-primary" href="#get-started-in-the-documentation" role="button">Get Started</a>
    </div>

    {{ partial "quotes.html" .Params.quotes }}

    <h3>More social validation</h3>
    <p>
      Used in production to run scrapers more than xxxxx times
    </p>
  </main><!-- /.container -->
{{ end }}
