{{ define "main" }}
  <main role="main" class="container">

    <div class="starter-template">
      <h1>Leila</h1>
      <p class="lead">
        A wonderfully simple API to reliably execute many long running scrapers in a super scaleable way.
        Built on top of Kubernetes and Docker.
      </p>
      <!-- Make this a button -->
      <a href="#get-started-in-the-documentation">Get Started</a>
    </div>

    <div>
      {{.Content}}
    </div>

    <h3>What people are saying</h3>

    <div class="row py-4">
      <div class="col">
        <blockquote class="blockquote">
          <p>This is going to make morph.io so much better. I wish we had done this ages ago.</p>
          <img src="matthew.jpg" alt="Matthew Landauer" class="img-thumbnail rounded-circle" width="100">
          <footer class="text-muted">
            <small>Matthew Landauer, cofounder OpenAustralia Foundation</small>
          </footer>
        </blockquote>
      </div>
      <div class="col">
        <blockquote class="blockquote">
          <p>This is going to make morph.io so much better. I wish we had done this ages ago.</p>
          <img src="matthew.jpg" alt="Matthew Landauer" class="img-thumbnail rounded-circle" width="100">
          <footer class="text-muted">
            <small>Matthew Landauer, cofounder OpenAustralia Foundation</small>
          </footer>
        </blockquote>
      </div>
      <div class="col">
        <blockquote class="blockquote">
          <p>This is going to make morph.io so much better. I wish we had done this ages ago.</p>
          <img src="matthew.jpg" alt="Matthew Landauer" class="img-thumbnail rounded-circle" width="100">
          <footer class="text-muted">
            <small>Matthew Landauer, cofounder OpenAustralia Foundation</small>
          </footer>
        </blockquote>
      </div>
    </div>

    <h3>More social validation</h3>
    <p>
      Used in production to run scrapers more than xxxxx times
    </p>
  </main><!-- /.container -->
{{ end }}
